#hk-popup-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    backdrop-filter: blur(2px);
}
#hk-popup-box {
    background-color: #ffe6f2;
    border: 5px solid #ffb7d5;
    border-radius: 20px;
    padding: 25px;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(255, 105, 180, 0.5);
    font-family: 'Comic Sans MS', 'Fredoka', sans-serif;
    color: #b04279;
    animation: popIn 0.3s ease-out;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
#hk-popup-box h2 {
    margin-top: 0;
    font-size: 25px;
    color: #ff1493;
    text-shadow: 1px 1px 0 #fff;
}

#hk-popup-box pre {
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed #ffb7d5;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: left;
}
#hk-popup-close {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #ff69b4;
    color: white;
    border: 3px solid white;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
#hk-popup-close:hover {
    background-color: #ff1493;
    transform: scale(1.05);
}
@keyframes popIn {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}