@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

*{
    font-family: 'Fredoka', 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif;

}
body {
    width: 320px;
    padding: 20px;
    background-color: #ffe6f2;
    color: #b04279;
    text-align: center;
    border: 5px solid #ffb7d5;
    border-radius: 15px;
    box-sizing: border-box;

    cursor: url('src/cursor/HelloKittyNormalSelect.cur') 0 0, auto;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    color: #ff1493;
    text-shadow: 2px 2px 0 #fff;
    letter-spacing: 1px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.4;
}

/* Der Hello-Kitty-Button */
button {
    width: 100%;
    padding: 12px 20px;
    background-color: #ff69b4; /* Hot Pink */
    color: white;
    border: 3px solid #ffffff;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 20, 147, 0.3);
    transition: all 0.2s ease;
}

button:hover {
    background-color: #ff1493;
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(255, 20, 147, 0.5);
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    background-color: #ffb7d5;
    color: #ffe6f2;
    border: 3px dashed #ffffff;

    cursor: none;
    opacity: 0.8;

    transform: none !important;
    box-shadow: none !important;
}

#btnContainer {
    display: flex;
    gap: 10px;
}

/* Die Status-Box */
#status {
    margin-top: 15px;
    font-size: 13px;
    color: #d10069;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 12px;
    border: 1px dashed #ff69b4;
}

#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;

    background-image: url('src/cursor/HelloKittyLinkSelect.gif');
    background-size: contain;
    background-repeat: no-repeat;

    pointer-events: none;
    z-index: 9999;
    display: none;
}

button:hover,
#success-image:hover,
#fail-image:hover {
    cursor: none; /* System-Cursor ausschalten, damit wir nur unser GIF sehen */
}